.change-password-container {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust as needed for vertical centering */
  /* background-color: #f0f0f0; */
}

.change-password-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Card shadow */
  padding: 20px;
  border-radius: 8px;
  width: 400px; /* Card width */
  margin-top: 200px;
  margin-left: 250px;
  background-color: white;
}

.form-group {
  margin-bottom: 20px; /* Space between form fields */
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input[type="password"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  background-color: #28a745; /* Submit button color */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

button[type="submit"]:hover {
  background-color: #28a745; /* Hover color */
}
