body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.home-header2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: black;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.header-left2 {
  display: flex;
  align-items: center;
}

.hamburger-icon2 {
  font-size: 24px;
  cursor: pointer;
  margin-right: 10px;
  color: white;
}

.logout-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  margin-right: 30px;
}

.logout-button:hover {
  text-decoration: underline;
}
